@page
@model AddModel

@{
    ViewData["Title"] = "Add new Configuration";
}

<h2>Add new Configuration</h2>

<hr />

@await Html.PartialAsync("_ConfigurationPartial", Model.ProviderConfigurationModel)
